screenshots
target
.project
.classpath
.settings
.iml
*.iml
.idea
.DS_Store
.metadata
.externalToolBuilders
.cache
.springBeans
*.iws
*.ipr
.clover
allure-results
videos
allure-report
*.pyc
.pyc
/.idea/
.idea/**.xml
.idea/workspace.xml
.xml
.db
__pycache__/